@import "normalize.css";
@import "bootstrap/scss/bootstrap";

@font-face {
    font-family: 'VariableFont-italik';
    src: url(/public/fonts/SourceCodePro-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'VariableFont';
    src: url(/public/fonts/SourceCodePro-VariableFont_wght.ttf);
}

body{
    font: 1em VariableFont;

    &.light-theme{
        background-color: #F5F8FF;
        color: #000000;

        .info{
            background-color: #F5F8FF;
          }
        .app-theme{
            background-color: #d4d9e6;
            color: #000000;
          }
    }

    &.dark-theme{
        background-color: #141C2F;
        color: #ffffff;

        .card {
            background-color: #1F2A48;
            color: #ffffff; 
          }
        .info{
            background-color: #141C2F;
          }
        .app-theme{
            background-color: #0b1a3f;
            color: #ffffff;
          }
    }

    .btn{
        background-color: #0079FE;
        color: #ffffff;

        &:hover{
            background-color: #0063d5;
            color: #ffffff;
        }
      }
}